{# 🌿 Twig template - Trial details mail to customer #}
{# for future use. Do not delete #}

<p>Hello there,</p>

<p>Thank you for your interest in miniOrange SAML SP module and for submitting a trial request.</p>

<p>This is a system-generated email to confirm that we have received your trial request with ticket number <strong>#{{ ticket_number }}</strong>. We're tracking this interaction using the reference number above.
  Within the next 24 hours, one of our dedicated representatives will provide you with a 7-day trial of the module.
</p>

<p>If you have any immediate questions or need further assistance, please feel free to contact our support team at <a href="mailto:drupalsupport@xecurify.com" target="_blank">drupalsupport@xecurify.com</a>, mentioning your ticket number. We are here to help!</p>

<p>Thank you once again for considering us. We look forward to the opportunity to work with you.</p>
<br>
<p>Thanks and Regards,<br>
  <strong>mini<span style="color:#ff9900">O</span>range Drupal Support (24x7)</strong><br>
  <a href="tel:+19786589387">+1 978 658 9387</a> (US)<br>
  <a href="tel:+919717845846">+91 97178 45846</a> (IND)<br>
  <a href="mailto:drupalsupport@xecurify.com" target="_blank">drupalsupport@xecurify.com</a>
</p>

<hr>
<p><span style="font-size:10px">Please do not reply to this email as it is an automated email. For any queries, please contact us at&nbsp;<a href="mailto:mailto:drupalsupport@xecurify.com" target="_blank">drupalsupport@xecurify.com</a>.</span></p>
